@charset "UTF-8";

/* 回答はここに書いてね */
.q4__content {
  padding: 20px;
  background-color: #eff3f4;
}

.q4__bar {
  display: table;
  width: 100%;
}

.q4__bar:last-child {
  margin-top: 20px;
}

.bar__style {
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.orange {
  width: 100px;
  background-color: #fdc8b8;
}

.purple {
  background-color: #e0abd9;
}

.blue {
  width: 100px;
  background-color: #b6d8ed;
}

.yellow {
  background-color: #e5d32e;
}

.red {
  background-color: #ec8f9a;
}

.green {
  width: 500px;
  background-color: #8fdcad;
}
/* 回答はここに書いてね */
