@charset "UTF-8";

/* 回答はここに書いてね */
.q5__contents {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  position: relative;
  background-color: #ECF1F2;
}

.box__style {
  width: 100px;
  height: 100px;
  position: absolute;
  line-height: 100px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.num__1 {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
  z-index: 1;
}

.num__2 {
  background-color: #7084de;
  top: 120px;
  left: 280px;
  z-index: 2;
}

.num__3 {
  background-color: #d0ecea;
  top: 200px;
  left: 360px;
  z-index: 3;
}

.num__4 {
  background-color: #8b7a5e;
  top: 280px;
  left: 280px;
  z-index: 4;
}

.num__5 {
  background-color: #9fd6d2;
  top: 360px;
  left: 200px;
  z-index: 5;
}

.num__6 {
  background-color: #fffee4;
  top: 280px;
  left: 120px;
  z-index: 6;
}

.num__7 {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 7;
}

.num__8 {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.num__8:before {
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
}

.num__9 {
  position: fixed;
  background-color: #2b69a3;
  top: 10px;
  left: 10px;
}
/* 回答はここに書いてね */
