@charset "UTF-8";

/* 回答はここに書いてね */
.menu__table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #dedede;
  text-align: center;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2244aa;
  border: 1px solid #dedede;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

tr:nth-child(3) td,
tr:nth-child(5) td{
  background-color: #ecf1f2;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #dedede;
  font-size: 16px;
  line-height: 22px;
}

tr:last-child {
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */
