@charset "UTF-8";

/* 回答はここに書いてね */
.menu__table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #dedede;
  text-align: center;
}

.menu__table th {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2244aa;
  border: 1px solid #dedede;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.menu__table tr:nth-child(even){
  background-color: #ecf1f2;
}

.menu__table td {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #dedede;
  font-size: 16px;
  line-height: 22px;
}

.menu__table tbody tr:last-child {
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */
